.homeImage {
    height: 400px;
    width: auto;
    position: absolute;
    top:10rem;
    right:0;
}

@media screen and (max-width:905px) {
    .homeImage {
        height:300px;
        width:auto;
    }
}

@media screen and (max-width:705px) {
    .homeImage {
        height:200px;
        width:auto;
    }
}

@media screen and (max-width:605px) {
    .homeImage {
        display: none;
    }
}