@import '/styles/globals.scss';

.container {
    margin-left: 2rem;
    width: 100%;
    min-height: 12rem;
    border-bottom: $accent 1px dashed;
    color:$primary-font;

    & h1 {
        margin-bottom: .2rem;
        text-shadow: $textShadow-text;
    }
}

.tagList {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    padding-top: .2rem;
}